@font-face {
    font-family: 'IRANSans';
    src: url('./assets/Font/IRANSansXRegular.ttf');
}

@font-face {
    font-family: 'Estedad';
    src: url('./assets/Font/Estedad-V0.7A_p30download.com.ttf');
}

@font-face {
    font-family: 'B Yekan';
    src: url('./assets/Font/B\ Yekan.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IRANSANS';
    /* border: 1px solid red; */
}

.header-content{
    margin: 1rem 9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

body{
    background-color: rgb(235,236,237);
}

.sign-in-Btn{
    margin-left: 2rem;
}

.sign-in-Btn a{
    font-family: 'IRANSans';
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    color: rgba(29, 155, 240, 1);
    border: 1px solid rgba(29, 155, 240, 1);
    border-radius: 16px;
    padding: .375rem 3.336rem;
}

.header-list{
    margin-right: .5rem;
    margin-bottom: -.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header-list .courses a{
    text-decoration: none;
    font-family: 'Estedad';
    font-size: 12px;
    font-weight: 700;
    color: rgba(42, 160, 239, 1);
    margin-right: 2rem;
    
}

.header-list .border-courses{
    border: 1px solid rgba(29, 155, 240, 1);
    max-width: 30%;
    margin-top: .3rem;
    margin-left: .4rem;
}

.header-list .main-page a{
    text-decoration: none;
    color: #000;
    font-family: 'Estedad';
    font-size: 12px;
    font-weight: 700;
}

/* -----main----- */

.info-content{
    background: #FAFBFF;
    width: 1103px;
    height: 663px;
    margin: auto;
    padding: 3rem 0;
    margin-top: 4rem;
    border: 1px solid rgba(250, 251, 255, 1);
    box-shadow: 0px 25px 32px 9px rgba(60, 85, 122, 0.06);
    border-radius: 32px;
}

.info-Mehdi{
    width: 930px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: auto;
    margin-bottom: 2rem;
}

.log-out-Btn a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: rgba(201, 67, 51, 1);
    padding: 0.375rem 3.756rem;
    border: 1px solid rgba(201, 67, 51, 1);
    border-radius: 16px;
}

.info{
    text-align: center;
}

.info h3{
    font-size: 22px;
    font-weight: 700;
}

.info a{
    text-decoration: none;
    color: #000;
    font-family: 'B Yekan';
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.Mycourses-Btn a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: rgba(29, 155, 240, 1);
    border: 1px solid rgba(29, 155, 240, 1);
    border-radius: 16px;
    padding: .375rem 2.561rem;
}

.border-Mehdi{
    border-bottom: 1px solid rgba(29, 155, 240, 1);
    width: 930px;
    display: flex;
    margin: auto;
}

.info-cards{
    width: 975px;
    height: 465px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
}

.card{
    width: 258px;
    height: 368px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(29, 155, 240, 1);
    border-radius: 16px;
    padding-bottom: 1rem;
}

.card:nth-child(2):hover{
    transform: scale(109.301%, 107.338%);
    transition: 0.4s ease-in-out;
    /* width: 282px;
    height: 395px;
    margin: 0 2rem; */
    box-shadow: 0px 4px 55px 17px rgba(57, 63, 71, 0.07);
    border: 1px solid rgba(255, 255, 255, 1);
}

.img-card{
    position: absolute;
    z-index: 1;
    width: 232px;
    height: 139px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 54.51%, #FFFFFF 94.55%);
    filter: blur(4px);
}

.card img{
    transform: translate(0%, -28%);
    width: 227px;
    height: 307px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 54.51%, #FFFFFF 94.55%);
    object-fit: cover;
}

.learn-courses{
    width: 245px;
    margin-bottom: 2.2rem;
    margin-top: -3.5rem;
}

.learn-courses a{
    color: rgba(71, 71, 71, 1);
    text-decoration: none;
    font-family: 'B Yekan';
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(231, 236, 238, 1);
    background-color: rgba(231, 236, 238, 1);
    padding: 0.7rem 2.3329rem;
    border-radius: 8px;
}

.le-co a{
    padding: .7141rem 3.565rem;
}

.sh-co a{
    text-decoration: none;
    font-family: 'IRANSans';
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(29, 155, 240, 1);
    border-radius: 8px;
    background-color: rgba(29, 155, 240, 1);
    padding: .81rem 4.85rem;
}
.show-courses a{
    text-decoration: none;
    font-family: 'IRANSans';
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(29, 155, 240, 1);
    border-radius: 8px;
    background-color: rgba(29, 155, 240, 1);
    padding: .919rem 4.865rem;
}

/* --------------------------- */

.learn-Tavarom{
    background-color: #FFFFFF;
    margin: 4rem auto;
    width: 1104px;
    height: 698px;
    display: flex;
    flex-direction: row;
    border: 1px solid #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 25px 32px 9px rgba(60, 85, 122, 0.06);
    padding: 1rem;
}

.video-learn{
    width: 651px;
    height: 650px;
    border: 1px solid rgba(29, 155, 240, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

.video-learn video{
    width: 448px;
    height: 611.04px;
    position: relative;
    z-index: 100;
}

.video-img{
    position: absolute;
    z-index: 101;
    width: 448px;
    height: 611.04px;
    object-fit: cover;
}

.img-video{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 54.51%, #FFFFFF 94.55%);
    position: absolute;
    z-index: 102;
    width: 405px;
    height: 300px;
    filter: blur(4px);
    transform: translate(1%, 109%);
}

.box-video{
    position: absolute;
    z-index: 103;
    width: 237px;
    height: 236px;
    filter: blur(4%);
    transform: translate(-7%, 85%);
    background: #FFFFFF78;
    border: 1px solid rgba(255, 255, 255, 0.47);
    border-radius: 16px;
}

.play-arrow{
    width: 88px;
    height: 88px;
    position: absolute;
    z-index: 104;
    filter: none;
    transform: translate(-15%, 319%);
}

.detail-course{
    width: 419px;
    height: 650px;
}

.close-title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.material-symbols-outlined{
    color: rgba(201, 67, 51, 1);
    border: 1px solid rgba(201, 67, 51, 1);
    border-radius: 50%;
    margin-right: 4.5rem;
}

.buy{
    margin-right: 6rem;
}

.close-title h3{
    font-size: 24px;
    font-weight: 700;
}

.time-courses{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.time-course{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.time-period{
    font-family: 'B Yekan';
    font-size: 16px;
    font-weight: 400;
    color: rgba(38, 70, 83, 1);
    border: 1px solid rgba(231, 236, 238, 1);
    border-radius: 8px;
    background-color: rgba(231, 236, 238, 1);
    padding: .7rem 3.767rem;
}

.time-session{
    font-family: 'B Yekan';
    font-size: 16px;
    font-weight: 400;
    color: rgba(38, 70, 83, 1);
    border: 1px solid rgba(231, 236, 238, 1);
    border-radius: 8px;
    background-color: rgba(231, 236, 238, 1);
    padding: .7rem 2.121rem;
}

.time-periods{
    font-family: 'B Yekan';
    font-size: 16px;
    font-weight: 400;
    color: rgba(38, 70, 83, 1);
    border: 1px solid rgba(231, 236, 238, 1);
    border-radius: 8px;
    background-color: rgba(231, 236, 238, 1);
    padding: .7rem 4.198rem;
}

.time-sessions{
    font-family: 'B Yekan';
    font-size: 16px;
    font-weight: 400;
    color: rgba(38, 70, 83, 1);
    border: 1px solid rgba(231, 236, 238, 1);
    border-radius: 8px;
    background-color: rgba(231, 236, 238, 1);
    padding: .7rem 2.121rem;
}

.sessions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sessions table{
    overflow: auto;
}

.sessions a{
    text-align: center;
    /* width: 381px; */
    margin-bottom: 1rem;
    border: 1px solid rgba(29, 155, 240, 1);
    border-radius: 8px;
    padding: .888rem 9.868rem;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
}

.sessions a:active{
    color: #FFFFFF;
    background-color: rgba(29, 155, 240, 1) !important;
}

.sessions a:hover{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 25px 17px rgba(57, 63, 71, 0.07);
    border: 1px solid #FFFFFF;
}

.arrow-img{
    width: 14px;
    transform: rotate(90deg);
}

/* ------------------------ */

.buy-course{
    background-color: #FFFFFF;
    width: 1104px;
    height: 698px;
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 25px 32px 9px rgba(60, 85, 122, 0.06);
    padding: 1rem;
}

.detail-mar{
    margin-left: -.5rem;
}

.about-course{
    border: 1px solid rgba(29, 155, 240, 1);
    border-radius: 8px;
    width: 381px;
    height: 204px;
    margin: 6rem auto 6rem auto;
    padding: 12px;
}

.first-about-course h3{
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

.first-about-course{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: auto;
}

.about-course p{
    margin: auto;
    margin-bottom: .7rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.91px;
    text-align: right;
    direction: rtl;
}

.price{
    width: 381px;
    height: 64px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    border: 1px solid rgba(29, 155, 240, 1);
    border-radius: 8px;
    padding: 1rem .2rem;
}

.real-price{
    direction: rtl;
    text-decoration: line-through;
    color: rgba(169, 169, 169, 1);
    font-family: 'B Yekan';
    font-size: 20px;
    font-weight: 400;
}

.sale-price{
    direction: rtl;
    font-family: 'B Yekan';
    font-size: 20px;
    font-weight: 400;
}

.price-said{
    direction: rtl;
    font-size: 20px;
    font-weight: 700;
}

.Buy-course-Btn{
    max-width: 95%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.show-free a{
    text-decoration: none;
    color: rgba(29, 155, 240, 1);
    border: 1px solid rgba(29, 155, 240, 1);
    border-radius: 8px;
    padding: .825rem 1.9782rem;
}

.buy-Btn{
    margin-top: .8rem;
}

.buy-Btn a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(29, 155, 240, 1);
    border: 1px solid rgba(29, 155, 240, 1);
    border-radius: 8px;
    padding: .825rem 4.425rem;
    
}

/* --------------------------------- */

.footer-content{
    position: relative;
    z-index: 1;
    width: 1104px;
    height: 274px;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(251.89deg, #1D9BF0 9.97%, #B3E0EE 99.48%);
    border-radius: 16px;
}

.about{
    max-width: 27%;
}

.about p{
    font-size: 16px;
    font-weight: 500;
    line-height: 25.04px;
    text-align: right;
    direction: rtl;
    color: #FFFFFF;
}

.free-course{
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 1rem;
}

.choice-free a{
    position: absolute;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: .5rem 3rem .5rem .7rem;
}

.choice-courses{
    transform: translate(66%, 48%);
}

.choice-courses a{
    position: relative;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: rgba(29, 155, 240, 1);
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: .5rem 1.5rem;

}

.contact-us{
    max-width: 33%;
}

.contact-us ul{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contact-us ul li{
    list-style-type: none;
    direction: rtl;
    margin-bottom: 1rem;
}

.contact-us ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.04px;
    text-align: right;
    color: #FFFFFF;
}

.contact-us ul li h4{
    font-size: 16px;
    font-weight: 700;
    line-height: 25.04px;
    text-align: right;
    color: #FFFFFF;
}

.contact-us ul li p{
    font-size: 14px;
    font-weight: 500;
    line-height: 21.91px;
    text-align: right;
    color: #FFFFFF;
}
.insta{
    width: 22px;
    margin-left: .2rem;
}

.insta-page{
    display: flex;
    align-items: center;
}

.about-img{
    max-width: 33%;
    transform: translate(-12%, -14%);
}

.about-img img{
    width: 407px;
    height: 382px;
    object-fit: cover;
}

.circle-list{
    width: 134px;
    height: 142px;
    position: absolute;
    z-index: 0;
    transform: translate(885%, -35%);
}

.circle-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .68rem;
}

.circle-footer{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1D9BF0;
}

